.slide_eight {
    width: 100%;
}
.eight {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40% 60%;
}
.map_class {
    height: 450px;
    width: 100%;
    background-color: #f1f1f1;
}
.info_slide_eight {
    grid-column-start: 1;
    grid-row-start: 1;
    height: 450px;
    width: 100%;
    background-color: #f1f1f1;
}
.map {
    height: 400px;
    width: 700px;
    background: #555;
    margin: auto;
    margin-top: 35px;
}
.logo_text {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 44px ;
    width: 25%;
    margin: auto;
}
.logo {
    width: 44px;
    height: 44px;
}
.logo_boshka {
    width: 44px;
    height: 44.4671px;
}
.title_text {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 3px;
    margin-left: 5px;
}
.text_info_eight {
    width: 70%;
    font-size: 20px;
    margin-top: 10px;
    justify-content: center;
}
.logo_icon {
    width: 30px;
    height: 30px;
}
.icon_info {
    width: 32px;
    height: 32px;
}
.text_slide {
    width: 350px;
    height: 32px;
    font-size: 18px;
}
.info_slide {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    margin: 25px;
    justify-content: center;
    align-self: center;
    grid-template-columns: 35px 300px;
}
.slide_eight .info_eight {
    width: 350px;
    justify-content: center;
    margin: auto;
}
.title_info {
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.vk {
    margin: auto;
}
.icon_conection  p{
    width: 34px;
    height: 34px;
    margin: auto;
}
.icon_conection {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40px 40px;
    justify-content: center;
}
@media  (max-width: 1200px){
    .map {
        width: 350px;
    }
    .eight {
        grid-template-columns: 60% 40%;
    }
    
}
@media  (max-width: 940px){
    .map {
        margin: auto;
        margin-top: 25px;
        width: 90%;
    }
    .eight {
        grid-auto-flow: row;
        grid-template-columns: auto;
    }
    .info_slide_eight {
        grid-row-start: 2;
    }

}