.slide_two {
    display: grid;
    grid-auto-flow: row;
    margin-top: 70px;
    width: 100%;
  }
.slide_two .jobs_prime{
    display: block;
    margin-top: -15px;
    text-align: center;
    font-size: 16px; /* Размер шрифта */
    color: #868789;
}
.slide_two .prime_in_company {
    display: grid;
    color:#d9dadb;
    margin-top: 50px;
}
.icons .table {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    justify-self: center;
}
.icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.slide_two .prime_in_company590 > div{ display: none; }

@media  (max-width: 1190px){
    .icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
}

.icons .row {
    display: flex;
    justify-self: center;
    height: 100%;
}

.icons .icon_cell {
    width: 50px;
    height: 40px;
}

.icons .title_cell {
    width: 250px;
    height: 40px;
    text-align: left;
}

.icons .triangle_cell {
    width: 50px;
    height: 70px;
}

.icons .text_cell {
    width: 240px;
    height: 150px;
    text-align: left;
}
.icons .icon img {
    margin-left: -5px;
}
.icons .title {
    margin-top: 7px;
    padding: 0;
    font-size: 18px;
    color: #4682B4;
}
.icons .item_desc {
    margin: 0;
    padding: 0;
    color: #868789;
}


.triangle {
    background: #868789;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin-top: 1px;
}
.triangle::after {
    content: ''; 
    display: block;
    margin-top: -2px;
    margin-left: -10px;
    border: 10px solid transparent;
    border: 20px solid transparent;
    border-top: 20px solid #868789;
    border-right: 20px solid #868789; 
}

@media  (max-width: 590px){
    .slide_two .prime_in_company > .icons {
        display: none;
    }
    .slide_two .prime_in_company590 > div {
        display: block;
    }
    .in_company {
        display: grid;
        grid-auto-flow: row;
        width: 100%;
        height: 180px;
        background-color: #fff;
    }
    .msg-container {
        width: 300px;
        height: 180px;
        margin: auto;
        overflow: hidden;
    }
    .slider_class_590 {
        display: inline-flex;
        transition: 0.5s;
        height: 180px;
    }
    .msg-column {
        width: 300px;
        height: 120px;
        align-self: center;
        text-align: center;
    }
    .msg-column h1{
        color: #4682B4;
        font-size: 24px;
        font-weight: 100px;
        align-self: center;
        margin-left: 5px;
    }
    .msg-column p{
        color: #868790;
        font-size: 18px;
        line-height: 25px;
    }
    .controller {
        display: grid;
        grid-auto-flow: column;
        width: 300px;
        height: 1px;
        background: #c0c0c0;
        margin: auto;
        
    }
    .line1, .line2, .line3, .line4 {
        display: inline-block;
        height: 10px;
        width: 75px;
        margin-top: -5px;
        cursor: pointer;
    }
    .active {
        width: 75px;
        height: 10px;
        border-radius: 10px;
        background: #B48246;
        position: absolute;
        top: -4px;
        transition: 0.5s;
    }
    .img_h1 {
        display: inline-flex;
    }
    .icon{
        align-self: center;
    }
    .controller_position {
        position: absolute;
        width: 100%;
    }
    .msg-position {
        width: 100%;
    }
}