{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_1.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_2.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_3.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_4.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_5.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_6.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_7.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_8.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_main.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_discount.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slider/slider.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slider/slider2.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slider/slider3.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/modal-successful-bid.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/modal_window.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>Хичист - фабрика стирки ковров</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="icon" href="../../static/home_page/img/logo/boshka.png" type="image/png" media="(prefers-color-scheme: light)">
    <link rel="icon" href="../../static/home_page/img/logo/boshka_2.png" type="image/png" media="(prefers-color-scheme: dark)">
</head>
<body class="">
    <div id="overflow">
        <div class="menu">
            <header class="header">
                <div class="conteiner">
                    <div class="header_body">
                        <a href="#" class="header_logo">
                            <img src="../../static/home_page/img/logo/boshka.png">
                        </a>
                        <div class="header_burger">
                            <span></span>
                        </div>
                        <nav class="header_menu">
                            <ul class="header_list">
                                <li>
                                    <button class="header_link" onclick="scrollToDivOne()" type="button">Главная</button>
                                </li>
                                <li>
                                    <button class="header_link" onclick="scrollToDivFour()" type="button">Этапы</button>
                                </li>
                                <li>
                                    <button class="header_link" onclick="scrollToDivFive()" type="button">Льготы</button>
                                </li>
                                <li>
                                    <button class="header_link" onclick="scrollToDivThree()" type="button">Калькулятор</button>
                                </li>
                                <li>
                                    <button class="header_link" onclick="scrollToDivTwo()" type="button">Услуги</button>
                                </li>
                                <li>
                                    <div class="info_eight">
                                        <div class="info_slide">
                                            <div class="icon_info">
                                                <img class="logo_icon" src="../../static/home_page/img/icon_slade/phone.png">
                                            </div>
                                            <div class="text_slide">
                                                <span><a href="tel: +79137378283">+7 (913) 737-82-83</a></span>
                                            </div>
                                        </div>
                                        <div class="info_slide">
                                            <div class="icon_info">
                                                <img class="logo_icon" src="../../static/home_page/img/icon_slade/location.png">
                                            </div>
                                            <div class="text_slide">
                                                <p>г.Новосибирск, ул. Грибоедова, 2Б</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon_conection">
                                        <div class="vk">
                                            <p><a href="https://vk.com/hichist"><img  class="vk-icon" src="../../static/home_page/img/icon_slade/vk.png" width="30px" height="30px" border-radius="50"></a></p>
                                        </div>
                                        <div class="whatsapp">
                                            <p><a href=" https://api.whatsapp.com/send?phone=79137378283"><img  class="whatsapp-icon" src="../../static/home_page/img/icon_slade/whatsapp.png" width="30px" height="30px" border-radius="50"></a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="button_menu">
                                        <button class="button" type="button"  id="button_menu_order">Оформить заявку</button>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <div class="button_menu">
                            <button class="button" type="button"  id="button_menu_order-2">Оформить заявку</button>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="slide_one" id="slide_one">
            <div class="blockSlider" id="blockSlider">
                <div class="FullArea">
                    <div class="imagesArea">
                        <img class="imageSlider" src="{% static 'home_page/img/main_slide/slide_4.png' %}" alt="">
                        <img class="imageSlider" src="{% static 'home_page/img/main_slide/slide_2.jpg' %}" alt="">
                        <img class="imageSlider" src="{% static 'home_page/img/main_slide/slide_3.jpg' %}" alt="">
                    </div>
        
                    <div class="pointsAreaSize">
                        <span class="point"></span>
                        <span class="point"></span>
                        <span class="point"></span>
                    </div>
                    <div class="btnsAreaSize">
                        <div class="blockArrow" id="leftBtn"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                        <div class="blockArrow" id="rightBtn"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                    </div>
                    <div class="wrapper">
                        <div class="box-info">
                            <div class="box box_one">
                                <h1>Доставка</h1>
                                <p>Наша транспортная служба в удобное вам <span class="colortext">время</span> заберет ковер и привезет его обратно, как только закончим обработку. Мы уделяем особое внимание вашему удобству и безопасности.</p>
                                <div class="button">
                                    <button type="button" id="button_slide">Оформить заявку</button>
                                </div>
                            </div>
                        </div>
                        <div class="box-info">
                            <div class="box box_two">
                                <h1>Стирка ковров</h1>
                                <p>от <span class="colortext">250</span> руб/м<sup>2</sup></p>
                                <div class="button">
                                    <button onclick="scrollToDivTwo()" type="button" id="button_services">Подробнее</button>
                                </div>
                            </div>
                        </div>
                        <div class="box-info">
                            <div class="box box_three">
                                <h1>Калькулятор</h1>
                                <p>Рассчитайте <span class="colortext">цену</span> заранее. Просто используйте наш удобный калькулятор</p>
                                <div class="button">
                                    <button onclick="scrollToDivThree()" type="button" id="button_calculator">Подробнее</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="../../static/home_page/js/app.js"></script>
        </div>
        <div class="slide_two">
            <div class="name_class">
                <p class="name_text">СТИРКА КОВРОВ</p>
                <p class="jobs_prime">Преимущества компании "Химчист"</p>
            </div>
            <div class="line">
                <span></span>
            </div>
            <div class="prime_in_company" >
                <div class="icons">
                    <div class="table" id="1_table">
                        <div class="row">
                            <div class="icon_cell">
                                <div class="icon">
                                    <img src="{% static 'home_page/img/icon_slide2/ruka.png' %}" alt="Руки">
                                </div>
                            </div>
                            <div class="title_cell">
                                <p class="title">Гарантия качества</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="triangle_cell">
                                <div class="triangle"></div>
                            </div>
                            <div class="text_cell">
                                <p class="item_desc">Мы добросовестно относимся к своей работе и уверены в качестве</p>
                            </div>
                        </div>
                    </div>
                    <div class="table" id="2_table">
                        <div class="row">
                            <div class="icon_cell">
                                <div class="icon">
                                    <img src="{% static 'home_page/img/icon_slide2/people.png' %}" alt="Человек">
                                </div>
                            </div>
                            <div class="title_cell">
                                <p class="title">Сотрудники</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="triangle_cell">
                                <div class="triangle"></div>
                            </div>
                            <div class="text_cell">
                                <p class="item_desc">Специалисты обладают высоким уровнем квалификации и опытом работы.</p>
                            </div>
                        </div>
                    </div>
                    <div class="table" id="3_table">
                        <div class="row">
                            <div class="icon_cell">
                                <div class="icon">
                                    <img src="{% static 'home_page/img/icon_slide2/car.png' %}" alt="Машина">
                                </div>
                            </div>
                            <div class="title_cell">
                                <p class="title">Вывоз и доставка</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="triangle_cell">
                                <div class="triangle"></div>
                            </div>
                            <div class="text_cell" >
                                <div class="item_desc">
                                    <p>Собираем, снимаем, упаковываем, выносим ковры и доставляем уже готовую работу</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table" id="4_table">
                        <div class="row">
                            <div class="icon_cell">
                                <div class="icon">
                                    <img src="{% static 'home_page/img/icon_slide2/clever.png' %}" alt="Листик">
                                </div>
                            </div>
                            <div class="title_cell">
                                <p class="title">Экологичные средства</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="triangle_cell">
                                <div class="triangle" id="triangle"></div>
                            </div>
                            <div class="text_cell">
                                <p class="item_desc">Только экологичные, безопасные и гипоаллергенные моющие средства</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prime_in_company590">
                <div class="in_company">
                    <div class="msg-position">
                        <div class="msg-container">
                            <div id="slider_class_590" class="slider_class_590">
                                <div class="msg-column">
                                    <div class="img_h1">
                                        <div class="icon">
                                            <img src="{% static 'home_page/img/icon_slide2/ruka.png' %}" alt="Руки">
                                        </div>
                                        <h1>Гарантия качества</h1>
                                    </div>
                                    <p class="item_desc">Мы добросовестно относимся к своей работе и уверены в качестве</p>
                                </div>
                                <div class="msg-column">
                                    <div class="img_h1">
                                        <div class="icon">
                                            <img src="{% static 'home_page/img/icon_slide2/people.png' %}" alt="Человек">
                                        </div>
                                        <h1>Сотрудники</h1>
                                    </div>
                                    <p>Специалисты обладают высоким уровнем квалификации и опытом работы.</p>
                                </div>
                                <div class="msg-column">
                                    <div class="img_h1">
                                        <div class="icon">
                                            <img src="{% static 'home_page/img/icon_slide2/car.png' %}" alt="Машина">
                                        </div>
                                        <h1>Вывоз и доставка</h1>
                                    </div>
                                    <p>Собираем, снимаем, упаковываем, выносим ковры и доставляем уже готовую работу</p>
                                </div>
                                <div class="msg-column">
                                    <div class="img_h1">
                                        <div class="icon">
                                            <img src="{% static 'home_page/img/icon_slide2/clever.png' %}" alt="Листик">
                                        </div>
                                        <h1>Экологичные средства</h1>
                                    </div>
                                    <p>Только экологичные, безопасные и гипоаллергенные моющие средства</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="controller_position">
                        <div class="controller">
                            <div class="line1" id="line1_id"></div>
                            <div class="line2" id="line2_id"></div>
                            <div class="line3" id="line3_id"></div>
                            <div class="line4" id="line4_id"></div>
                            <div class="space_active" id="active_id"></div>
                            <script src="../../static/home_page/js/controls_slide_two.js"></script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
        <div class="slide_text">
            <div class="slide">
                <div class="name_class">
                    <p class="name_text">ПРОФЕССИОНАЛЬНАЯ СТИРКА КОВРОВ В НОВОСИБИРСКЕ</p>
                </div>
                <div class="line">
                    <span></span>
                </div>
                <div class="class_text">
                    <p class="text">Компания «Химчист» предлагает комплексные услуги по стирке ковров: забираем грязные изделия из дома или офиса, через 2-4 дня привозим абсолютно чистые! Вывоз и доставка осуществляется по прайс листу. Для вас работают опытные специалисты, которые подберут подходящий способ обработки и моющие средства, учитывая материал коврового покрытия и степень загрязнения. Работаем с частными лицами и коммерческими организациями в Новосибирске. Обращайтесь, если нужна профессиональная стирка ковра недорого.</p>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="slide_three">
            <div class="name_class">
                <p class="name_text">НАШИ ВОЗМОЖНОСТИ</p>
            </div>
            <div class="line">
                <span></span>
            </div>
            <div class="main_class_slider">
                <div class="slider_scroll">
                    <div class="slider_one">
                        <div class="all" id="switch_controls_1">
                            <input checked type="radio" name="respond" id="desktop">
                            <article id="slider">
                                    <input checked type="radio" name="slider" id="switch1">
                                    <input type="radio" name="slider" id="switch2">
                                    <div id="slides">
                                        <div id="overflow">
                                            <div class="image">
                                                <article><img class="img" id="all_one" src="{% static 'home_page/img/carpet/1-b.jpg' %}"></article>
                                                <article><img class="img" id="all_two" src="{% static 'home_page/img/carpet/1-a.jpg' %}"></article>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="active">
                                        <label for="switch1"></label>
                                        <label for="switch2"></label>
                                    </div>
                            </article>
                        </div>
                    </div>
                    <div class="slider_two">
                        <div class="all2" id="2">
                            <input checked type="radio" name="respond" id="desktop2">
                                <article id="slider2">
                                        <input checked type="radio" name="slider2" id="switch3">
                                        <input type="radio" name="slider2" id="switch4">
                                    <div id="slides2">
                                        <div id="overflow2">
                                            <div class="image">
                                                <article><img class="img" src="{% static 'home_page/img/carpet/2-b.jpg' %}"></article>
                                                <article><img class="img" src="{% static 'home_page/img/carpet/2-a.jpg' %}"></article>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="active2">
                                        <label for="switch3"></label>
                                        <label for="switch4"></label>
                                    </div>
                                </article>
                        </div>
                    </div>
                    <div class="slider_three">
                        <div class="all3" id="3">
                            <input checked type="radio" name="respond" id="desktop3">
                                <article id="slider3">
                                        <input checked type="radio" name="slider3" id="switch5">
                                        <input type="radio" name="slider3" id="switch6">
                                    <div id="slides3">
                                        <div id="overflow3">
                                            <div class="image">
                                                <article><img class="img" src="{% static 'home_page/img/carpet/3-b.jpg' %}"></article>
                                                <article><img class="img" src="{% static 'home_page/img/carpet/3-a.jpg' %}"></article>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="active3">
                                        <label for="switch5"></label>
                                        <label for="switch6"></label>
                                    </div>
                                </article>
                        </div>
                    </div>
                    <div class="space"></div> 
                </div>
            </div>
        </div>
        <div class="slide_four" id="slide_four">
            <div class="name_class">
                <p class="name_text">МЫ ЗНАЕМ, КАК ЭФФЕКТИВНО СТИРАТЬ КОВРЫ</p>
            </div>
            <div class="line">
                <span></span>
            </div>
            <div class="four">
                <div class="image">
                    <div class="img" id="img_one"></div>
                </div>
                <div class="four_text" >
                    <div class="title_four">Осмотр ковра и подбор чистящих средств</div>
                    <div class="text_four">Прежде всего, ковер, доставленный в цех, осматривается технологом. На этом этапе определяется состав изделия, специалист определяет его состояние, присваивает определенную степень загрязнения. В соответствии с этими данными технолог подбирает набор чистящих средств, необходимых для стирки покрытия.</div>
                </div>
            </div>
            <div class="four">
                <div class="image">
                    <div class="img" id="img_two"></div>
                </div>
                <div class="four_text" >
                    <div class="title_four" >Первичная чистка от сухого мусора</div>
                    <div class="text_four" >Ковер размещается на платформе вакуумно-вибрационной машины. Во время ее работы из покрытия убирается до нескольких килограммов сухого мусора — пыли, песка, шерсти и прочего не растворяемого в воде мелкого сора.</div>
                </div>
            </div>
            <div class="four"> 
                <div class="image">
                    <div class="img" id="img_three"></div>
                </div>
                <div class="four_text" >
                    <div class="title_four" >Локальное выведение загрязнений</div>
                    <div class="text_four" >При наличии видимых пятен поверхность ковра локально обрабатывается специальными пятновыводителями и реагентами. Обработка производится вручную точечно, только в загрязненных местах.</div>
                </div>
            </div>
            <div class="four"> 
                <div class="image">
                    <div class="img" id="img_four"></div>
                </div>
                <div class="four_text">
                    <div class="title_four" style=>Мойка ковра в спецмашине</div>
                        <div class="text_four" style=>Ключевой этап — непосредственно стирка ковра. Покрытие укладывается на платформу ковромоечной машины, через форсунки подаются вода и чистящее средство, ковер замачивается в моющем растворе. Мощные ролики продвигают изделие по платформе, тем временем как мягкие щетки механически очищают ковер по всей плоскости. По мере движения ковер промывается чистой водой и слегка выжимается под нажимом специальных валов.</div>
                </div>
            </div>
            <div class="four"> 
                <div class="image">
                    <div class="img" id="img_five"></div>
                </div>
                <div class="four_text" >
                    <div class="title_four" >Сушка коврового покрытия</div>
                    <div class="text_four" >Сушка — неотъемлемая часть полноценной профессиональной мойки изделия. Это один из основных этапов! Сначала после глубокого замачивания и промывки покрытие отправляется в центрифугу для отжима, где из изделия убирается лишняя вода. После — ковер досыхает в специализированной сушильной камере при температуре, определенной технологом для конкретного изделия в соответствии с его составом.</div>
                </div>
            </div>
            <div class="four"> 
                <div class="image">
                    <div class="img" id="img_six"></div>
                </div>
                <div class="four_text" >
                    <div class="title_four" >Финишная обработка</div>
                    <div class="text_four" >Финальный этап — расчесывание ворса в специальной машине. Она поднимает примятый в процессе мойки ворс и автоматически скручивает ковер в рулон. После чего он упаковывается и отправляется к своему владельцу. По желанию заказчика на данном этапе, ковер может быть обработан влагоотталкивающей пропиткой, антисептиком, антимолью или озонирован для избавления от запахов.</div>
                </div>
            </div>
            <div class="space"></div>
        </div>
        <div class="slide_discount" id="slide_discount">
            <div class="name_class">
                <p class="name_text">Специальные предложения</p>
            </div>
            <div class="line">
                <span></span>
            </div>
            <div class="space"></div>
            <div class="slide_discount_info">
                <div class="slide-dis">
                    <div class="slide">
                        <div class="text-dis">
                            <div class="text_title">
                                <p>Льготные цены для пенсионеров</p>
                            </div>
                            <div class="info_text">
                                <p><span class="sizetext">200₽</span> за квадратный метр на стирку любого вида ковра, любой сложности загрязнения</p>
                            </div>
                            <div class="button-slide">
                                <button class="buttom" type="button" value="0" id="button_pensia">Оформить заявку</button>
                            </div>
                        </div>
                        <div class="image_discount">
                            <img class="img-dis" src="../../static/home_page/img/discount_image/image_1.jpg">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="text-dis">
                            <div class="text_title">
                                <p>Льготные цены для многодетных семей</p>
                            </div>
                            <div class="info_text">
                                <p><span class="sizetext">200₽</span> за квадратный метр на стирку любого вида ковра, любой сложности загрязнения</p>
                            </div>
                            <div class="button-slide">
                                <button class="button" type="button"  id="button_family">Оформить заявку</button>
                            </div>
                        </div>
                        <div class="image_discount">
                            <img class="img-dis" src="../../static/home_page/img/discount_image/image_2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide_text">
            <div class="slide">
                <div class="name_class">
                    <p class="name_text">СТИРКА НА ФАБРИКЕ</p>
                </div>
                <div class="line">
                    <span></span>
                </div>
                <div class="class_text">
                    <p class="text">Стирка на фабрике — самый эффективный способ придать ковру чистоту и свежесть, избавив его даже от сложных загрязнений. Наш цех оснащен специализированным промышленным оборудованием, которое позволяет провести максимально глубокую стирку коврового покрытия, а также деликатно очистить изделия, которым противопоказано обильное смачивание — шелковые, вискозные и ковры ручной работы.<br></br>Наша транспортная служба в удобное вам время заберет ковер и доставит его на фабрику, а после — привезет его совершенно чистым к вам обратно.</p>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="slide_five" id ="slide_five">
            <div class="calculator">
                <div class="name_class">
                    <p class="name_text">КАЛЬКУЛЯТОР</p>
                </div>
                <div class="line">
                    <span></span>
                </div>
                <form action="" class="form" id="form_calculator">
                    <div class="square_carpet">
                        <div class="square">
                            <div class="text_title">
                                <p class="text">Длина(в метрах):</p>
                            </div>
                            <input class="input" type="number" id="a_square_length" onchange="calc()" />
                        </div>
                        <div class="square">
                            <div class="text_title">
                                <p class="text">Ширина(в метрах):</p>
                            </div>
                            <input class="input" type="number" id="a_square_width" onchange="calc()" />
                        </div>
                    </div>
                    <div class="manufacturing">
                        <div class="text_title">
                            <p class="text">Тип изготовления:</p>
                        </div>
                        <select class="input_choice" onchange="calc()" id="type_manufacturing">
                            <option value="0" selected="selected">Выберите вариант</option>
                            <option value="1000">Ручная работа</option>
                            <option value="2000">Машинная работа</option>
                        </select>
                    </div>
                    <div class="materials">
                        <div class="text_title">
                            <p class="text">Тип материала:</p>
                        </div>
                        <select class="input_choice" onchange="calc()" id="type_design">
                            <option value="0" selected="selected">Выберите вариант</option>
                            <option value="250">Синтетика</option>
                            <option value="250">Шерсть</option>
                            <option value="300">Вискоза</option>
                            <option value="300">Шелк</option>
                            <option value="280">Шегги</option>
                        </select>
                    </div>
                    <div class="states_from">
                        <div class="text_title">
                            <p class="text">Состояние ковра:</p>
                        </div>
                        <div class="states_from_button">
                            <label class="label_flex">
                                <input type="radio" name="state" value="1" id="state_flex_1" onchange="calc()" checked>
                                <p class="text_label">Сухой ковёр без биологических загрязнений</p>
                            </label>
                            <label class="label_flex">
                                <input type="radio" name="state" value="1.5" id="state_flex_2" onchange="calc()">
                                <p class="text_label">Ковёр во влажном состоянии или после пожара</p>
                            </label>
                            <label class="label_flex">
                                <input type="radio" name="state" value="1.5" id="state_flex_3" onchange="calc()">
                                <p class="text_label">Есть биологические загрязнения (моча, рвота и т.д.)</p>
                            </label>
                        </div>
                    </div>
                    <div class="summa">
                        <div class="text_title">
                            <p class="text">Сумма: </p>
                        </div>
                        <div id="result">0 руб.</div>
                    </div>
                    <div class="input_name_phome">
                        <div class="input-box">
                            <input class="input" type="text" placeholder="Ваше имя" id="username_calculator">
                        </div>
                        <div class="input-box">
                            <input class="input" type="tel" id="phone_calculator" name="phone">
                        </div>
                    </div>
                    <button type="submit" class="button_modal" id="button_modal-1">Отправить</button>
                </form>
                <div class="person_dan">
                    <p>Нажимая на кнопку «Отправить», я даю согласие на обработку моих <a href="privacy">персональных данных.</a></p>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="slide_six" id="slide_six">
            <div class="price_carpet">
                <div class="name_class">
                    <p class="name_text">СТОИМОСТЬ УСЛУГ</p>
                </div>
                <div class="line">
                    <span></span>
                </div>
                <div class="price_carpet_slide">
                    <div class="slide_price">
                        <div class="price_photo">
                            <div class="img" id="img_price_one"></div>
                        </div>
                        <div class="slide_text">
                            <div class="summ_price">
                                <p class="summ">250</p>
                                <p class="text_summ">руб/м<sup>2</sup></p>
                            </div>
                            <div class="text_price">
                                <p class="text">Синтетика</p>
                            </div>
                            <div class="info">
                                <p class="text_info">Синтетические ковры, обладают высокой прочностью и удобны в уходе.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide_price">
                        <div class="price_photo">
                            <div class="img" id="img_price_two"></div>
                        </div>
                        <div class="slide_text">
                            <div class="summ_price">
                                <p class="summ">300</p>
                                <p class="text_summ">руб/м<sup>2</sup></p>
                            </div>
                            <div class="text_price">
                                <p class="text">Шелк</p>
                            </div>
                            <div class="info">
                                <p class="text_info">Шелковые ковры, впечатляют своим роскошным блеском и насыщенными оттенками.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide_price">
                        <div class="price_photo">
                            <div class="img" id="img_price_three"></div>
                        </div>
                        <div class="slide_text">
                            <div class="summ_price">
                                <p class="summ">250</p>
                                <p class="text_summ">руб/м<sup>2</sup></p>
                            </div>
                            <div class="text_price">
                                <p class="text">Шерсть</p>
                            </div>
                            <div class="info">
                                <p class="text_info">Шерстяные ковры, нежные на ощупь и создают уютную атмосферу в помещении.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide_price">
                        <div class="price_photo">
                            <div class="img" id="img_price_four"></div>
                        </div>
                        <div class="slide_text">
                            <div class="summ_price">
                                <p class="summ">300</p>
                                <p class="text_summ">руб/м<sup>2</sup></p>
                            </div>
                            <div class="text_price">
                                <p class="text">Вискоза</p>
                            </div>
                            <div class="info">
                                <p class="text_info">Вискозные ковры, имеют блестящую поверхность и элегантный вид интерьеру.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide_price">
                        <div class="price_photo">
                            <div class="img" id="img_price_five"></div>
                        </div>
                        <div class="slide_text">
                            <div class="summ_price">
                                <p class="summ">280</p>
                                <p class="text_summ">руб/м<sup>2</sup></p>
                            </div>
                            <div class="text_price">
                                <p class="text">Шегги</p>
                            </div>
                            <div class="info">
                                <p class="text_info">Шегги, обеспечивают уникальный комфорт и придают интерьеру особую уютность.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide_price">
                        <div class="price_photo">
                            <div class="img" id="img_price_six"></div>
                        </div>
                        <div class="slide_text">
                            <div class="summ_price">
                                <p class="summ" style="margin-top: 10px;">+50%</p>
                                <p class="text_summ"></p>
                            </div>
                            <div class="text_price">
                                <p class="text">Прочие услуги</p>
                            </div>
                            <div class="info">
                                <p class="text_info">Стирка ковров после пожара или если имеются биологические загрязнения.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
        <div class="slide_seven">
            <div class="name_class">
                <p class="name_text">ОТВЕЧАЕМ НА ВОПРОСЫ</p>
            </div>
            <div class="line">
                <span></span>
            </div>
            <div class="space"></div>
            <div class="faq">
                <div class="faq-item">
                    <input class="faq-input" type="checkbox" id="faq_1">
                    <label class="faq-title" for="faq_1">Как часто следует стирать ковры?</label>
                    <div class="faq-text">
                        <p>Обычно рекомендуется стирать ковры раз в год или по мере необходимости. Если ковры подвергаются интенсивному использованию или на них часто попадают пятна, то чистку можно проводить чаще.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <input class="faq-input" type="checkbox" id="faq_2">
                    <label class="faq-title" for="faq_2">Постирать на фабрике можно любой ковер?</label>
                    <div class="faq-text">
                        <p>Мы принимаем в работу любые ковры, но стираем только те, которым не противопоказано обильное смачивание. Это синтетические, полусинтетические и фабричные шерстяные ковры. Ковровые изделия, требующие деликатного ухода (шелковые, вискозные, хлопчатобумажные, ручной работы, ветхие), а также покрытия на клееной основе не подлежат стирке и чистятся сухим способом с применением органических растворителей. Какая именно технология подойдет вашему ковру, определит технолог после его приемки и осмотра</p>
                    </div>
                </div>
                <div class="faq-item">
                    <input class="faq-input" type="checkbox" id="faq_3">
                    <label class="faq-title" for="faq_3">Когда я узнаю точную стоимость стирки моего ковра?</label>
                    <div class="faq-text">
                        <p>Точная стоимость определяется технологом при приемке и осмотре изделия. Наш менеджер свяжется с вами, чтобы озвучить итоговую сумму заказа и согласовать его выполнение. Обратите внимание: сотрудник транспортной службы, забирая ковер, никакой информации о ценах не предоставляет!</p>
                    </div>
                </div>
                <div class="faq-item">
                    <input class="faq-input" type="checkbox" id="faq_4">
                    <label class="faq-title" for="faq_4">Мне нужно как-то подготовить ковёр?</label>
                    <div class="faq-text">
                        <p>Да, к моменту приезда нашего сотрудника ковер необходимо свернуть в рулон (закреплять скотчем или чем-то другим необязательно) и поставить или положить недалеко от входной двери. Если ковёр необходимо вытащить из-под мебели, снять со стены, то об этом необходимо предупредить заранее. Данная услуга платная.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <input class="faq-input" type="checkbox" id="faq_5">
                    <label class="faq-title" for="faq_5">Каким образом происходит оплата услуги?</label>
                    <div class="faq-text">
                        <p>Оплата услуги производится при получении готового изделия курьеру.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <input class="faq-input" type="checkbox" id="faq_6">
                    <label class="faq-title" for="faq_6">Что если меня не устроит качество стирки?</label>
                    <div class="faq-text">
                        <p>Мы всегда прикладываем максимум усилий, чтобы каждый наш заказчик остался доволен. Если Вы обнаружите недостатки в работе, то необходимо сообщить об этом администратору в течении 2 рабочих дней и мы постараемся устранить их, если это возможно.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <input class="faq-input" type="checkbox" id="faq_7">
                    <label class="faq-title" for="faq_7">Вы выезжаете в районы?</label>
                    <div class="faq-text">
                        <p>Основной город в котором мы работаем - Новосибирск. Мы так же осуществляем выезд в близлежащие районы. Стоимость выезда в ваш район и график необходимо уточнить у администратора.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
        <div class="slide_eight">
            <div class="name_class">
                <p class="name_text">Адрес и контакты фабрики</p>
            </div>
            <div class="line">
                <span></span>
            </div>
            <div class="space"></div>
            <div class="eight">
                <div class="info_slide_eight">
                    <div class="container_eight">
                        <div class="container_box">
                            <div class="space"></div>
                            <div class="logo_text">
                                <div class="logo">
                                    <img class="logo_boshka" src="../../static/home_page/img/logo/boshka.png">
                                </div>
                                <div class="title_text">Химчист</div>
                            </div>
                            <p class="title_info">Фабрика стирки ковров в Новосибирске</p>
                            <div class="info_eight">
                                <div class="info_slide">
                                    <div class="icon_info">
                                        <img class="logo_icon" src="../../static/home_page/img/icon_slade/phone.png">
                                    </div>
                                    <div class="text_slide">
                                        <span><a href="tel: +79137378283">+7 (913) 737-82-83</a></span>
                                    </div>
                                </div>
                                <div class="info_slide">
                                    <div class="icon_info">
                                        <img class="logo_icon" src="../../static/home_page/img/icon_slade/mail.png">
                                    </div>
                                    <div class="text_slide">
                                        <p>hichist.fabrika@gmail.com</p>
                                    </div>
                                </div>
                                <div class="info_slide">
                                    <div class="icon_info">
                                        <img class="logo_icon" src="../../static/home_page/img/icon_slade/location.png">
                                    </div>
                                    <div class="text_slide">
                                        <p>г.Новосибирск, ул. Грибоедова, 2Б</p>
                                    </div>
                                </div>
                                <div class="info_slide">
                                    <div class="icon_info">
                                        <img class="logo_icon" src="../../static/home_page/img/icon_slade/clock.png">
                                    </div>
                                    <div class="text_slide">
                                        <p>График работы: 9:00 - 20:00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="icon_conection">
                            <div class="vk">
                                <p><a href="https://vk.com/hichist"><img  class="vk-icon" src="../../static/home_page/img/icon_slade/vk.png" width="30px" height="30px" border-radius="50"></a></p>
                            </div>
                            <div class="whatsapp">
                                <p><a href=" https://api.whatsapp.com/send?phone=79137378283"><img  class="whatsapp-icon" src="../../static/home_page/img/icon_slade/whatsapp.png" width="30px" height="30px" border-radius="50"></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map_class">
                    <div class="map" id="map"></div>
                    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU">
                    </script>
                    <script src="../../static/home_page/js/map.js"></script>
                </div>
            </div>
        </div>
        <div class="text_reklama">
            <p class="text">Made in <a href="https://t.me/ugarinko">@ugarinko</a></p>
        </div>
        <div class="modal_window" id="window">
            <div class="modal_box">
                <button class="modal_box_close" id="close">
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
                        <path d="M 25 2 C 12.309534 2 2 12.309534 2 25 C 2 37.690466 12.309534 48 25 48 C 37.690466 48 48 37.690466 48 25 C 48 12.309534 37.690466 2 25 2 z M 25 4 C 36.609534 4 46 13.390466 46 25 C 46 36.609534 36.609534 46 25 46 C 13.390466 46 4 36.609534 4 25 C 4 13.390466 13.390466 4 25 4 z M 32.990234 15.986328 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.990234 15.986328 z"/>
                    </svg>
                </button>
                <h2>Химчист</h2>
                <p>Оставьте ваш номер телефона и мы перезвоним вам для уточнения деталей заказа и расчета его стоимости!</p>
                <div class="input_name_phome">
                    <form action="" class="form" id="form_name_phone">
                        <div class="input-box">
                            <input class="input" type="text" placeholder="Ваше имя" id="username_modal">
                        </div>
                        <div class="input-box">
                            <input class="input" type="tel" id="phone_modal" name="phone">   
                        </div>
                        <p class="info_calculator">Для того чтобы узнать примерную стоимость заказа, можете воспользоваться нашим <button onclick="scrollToDivThree()"><span class="colortext">калькулятором</span></button></p>
                        <button type="submit" class="button_modal" id="button_modal-1">Отправить</button>
                    </form>
                </div>
                <div class="person_dan">
                    <p>Нажимая на кнопку «Отправить», я даю согласие на обработку моих <a href="privacy">персональных данных.</a></p>
                </div>
            </div>
        </div>
        <div class="modal-successful-bid" id="successful">
            <div class="pop-modal-successful-box">
                <p>Ваша заявка успешна отправлена, наш менеджер перезвонит в течение 15 минут.</p>
                <p>Спасибо за ваше доверие.</p>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://unpkg.com/imask"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="../../static/home_page/js/menu.js"></script>
    <script src="../../static/home_page/js/slide_scroll.js"></script>
    <script src="../../static/home_page/js/menu_button.js"></script>
    <script defer src="../../static/home_page/js/error_input.js"></script>
    <script src="../../static/home_page/js/number_maska.js"></script>
    <script src="../../static/home_page/js/modal_window_open.js"></script>
</body>
</html>



    