{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{% static 'home_page/css/main.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>Хичист - фабрика стирки ковров</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="icon" href="../../static/home_page/img/logo/boshka.png" type="image/png" media="(prefers-color-scheme: light)">
    <link rel="icon" href="../../static/home_page/img/logo/boshka_2.png" type="image/png" media="(prefers-color-scheme: dark)">
</head>
<body class="">
    <div id="overflow">
        {% include 'home_page/menu.html' %}
        {% include 'home_page/slider_1.html' %}
        {% include 'home_page/slider_2.html' %}
        <div class="slide_text">
            <div class="slide">
                <div class="name_class">
                    <h1 class="name_text">ПРОФЕССИОНАЛЬНАЯ СТИРКА КОВРОВ В НОВОСИБИРСКЕ</h1>
                </div>
                <div class="line">
                    <span></span>
                </div>
                <div class="class_text">
                    <p class="text">Компания «Химчист» предлагает комплексные услуги по стирке ковров: забираем грязные изделия из дома или офиса, через 2-4 дня привозим абсолютно чистые! Вывоз и доставка осуществляется по прайс листу. Для вас работают опытные специалисты, которые подберут подходящий способ обработки и моющие средства, учитывая материал коврового покрытия и степень загрязнения. Работаем с частными лицами и коммерческими организациями в Новосибирске. Обращайтесь, если нужна профессиональная стирка ковра недорого.</p>
                </div>
                <div class="space"></div>
            </div>
        </div>
        {% include 'home_page/slider_3.html' %}
        {% include 'home_page/slider_4.html' %}
        {% include 'home_page/slider_discount.html' %}
        <div class="slide_text">
            <div class="slide">
                <div class="name_class">
                    <h1 class="name_text">СТИРКА НА ФАБРИКЕ</h1>
                </div>
                <div class="line">
                    <span></span>
                </div>
                <div class="class_text">
                    <p class="text">Стирка на фабрике — самый эффективный способ придать ковру чистоту и свежесть, избавив его даже от сложных загрязнений. Наш цех оснащен специализированным промышленным оборудованием, которое позволяет провести максимально глубокую стирку коврового покрытия, а также деликатно очистить изделия, которым противопоказано обильное смачивание — шелковые, вискозные и ковры ручной работы.<br></br>Наша транспортная служба в удобное вам время заберет ковер и доставит его на фабрику, а после — привезет его совершенно чистым к вам обратно.</p>
                </div>
                <div class="space"></div>
            </div>
        </div>
        {% include 'home_page/forms_calculator.html' %}
        {% include 'home_page/slider_6.html' %}
        {% include 'home_page/slider_7.html' %}
        <div class="space"></div>
        {% include 'home_page/slider_8.html' %}
        {% include 'home_page/reklama.html' %}
        {% include 'home_page/modal_window.html' %}
        {% include 'home_page/modal-successful.html' %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
</body>
</html>



    