{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home_page/css/modal_window.css' %}">
    <title>Modal Window</title>
</head>
<body>
    <div class="modal_window" id="window">
        <div class="modal_box">
            <button class="modal_box_close" id="close">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
                    <path d="M 25 2 C 12.309534 2 2 12.309534 2 25 C 2 37.690466 12.309534 48 25 48 C 37.690466 48 48 37.690466 48 25 C 48 12.309534 37.690466 2 25 2 z M 25 4 C 36.609534 4 46 13.390466 46 25 C 46 36.609534 36.609534 46 25 46 C 13.390466 46 4 36.609534 4 25 C 4 13.390466 13.390466 4 25 4 z M 32.990234 15.986328 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.990234 15.986328 z"/>
                </svg>
            </button>
            <h2>Химчист</h2>
            <p>Оставьте ваш номер телефона и мы перезвоним вам для уточнения деталей заказа и расчета его стоимости!</p>
            <div class="input_name_phome">
                <form action="" class="form" id="form_name_phone">
                    <div class="input-box">
                        <input class="input" type="text" placeholder="Ваше имя" id="username_modal">
                    </div>
                    <div class="input-box">
                        <input class="input" type="tel" id="phone_modal" name="phone">   
                    </div>
                    <p class="info_calculator">Для того чтобы узнать примерную стоимость заказа, можете воспользоваться нашим <button onclick="scrollToDivThree()"><span class="colortext">калькулятором</span></button></p>
                    <button type="submit" class="button_modal" id="button_modal-1">Отправить</button>
                </form>
            </div>
            <div class="person_dan">
                <p>Нажимая на кнопку «Отправить», я даю согласие на обработку моих <a href="privacy">персональных данных.</a></p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/imask"></script>
    <script src="../../static/home_page/js/number_maska.js"></script>
    <script src="../../static/home_page/js/modal_window_open.js"></script>
    <script defer src="../../static/home_page/js/error_input.js"></script>
</body>
</html>