{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home_page/css/modal-successful-bid.css' %}">
    <title>Modal successful</title>
</head>
<body>
    <div class="modal-successful-bid" id="successful">
        <div class="pop-modal-successful-box">
            <p>Ваша заявка успешна отправлена, наш менеджер перезвонит в течение 15 минут.</p>
            <p>Спасибо за ваше доверие.</p>
        </div>
    </div>
</body>
</html>