{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{% static 'home_page/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'home_page/css/privacy.css' %}">
	<link rel="stylesheet" href="{% static 'home_page/css/modal_window.css' %}">
	<title>Персональные данные</title>
</head>
<body>
	<div id="overflow">
        <div class="menu">
            <header class="header">
                <div class="conteiner">
                    <div class="header_body">
                        <a href="#" class="header_logo">
                            <img src="../../static/home_page/img/logo/boshka.png">
                        </a>
                        <div class="header_burger">
                            <span></span>
                        </div>
                        <nav class="header_menu">
                            <ul class="header_list">
								<li>
									<a href="/?action=executeFunction1" class="header_link">Главная</a>
								</li>
								<li>
									<a href="/?action=executeFunction2" class="header_link">Услуги</a>
								</li>
								<li>
									<a href="/?action=executeFunction3" class="header_link">Калькулятор</a>
								</li>
								<li>
									<a href="/?action=executeFunction4" class="header_link">Этапы</a>
								</li>
								<li>
									<a href="/?action=executeFunction5" class="header_link">Льготы</a>
								</li>
                                <li>
                                    <div class="info_eight">
                                        <div class="info_slide">
                                            <div class="icon_info">
                                                <img class="logo_icon" src="../../static/home_page/img/icon_slade/phone.png">
                                            </div>
                                            <div class="text_slide">
                                                <span><a href="tel: +79137378283">+7 (913) 737-82-83</a></span>
                                            </div>
                                        </div>
                                        <div class="info_slide">
                                            <div class="icon_info">
                                                <img class="logo_icon" src="../../static/home_page/img/icon_slade/location.png">
                                            </div>
                                            <div class="text_slide">
                                                <p>г.Новосибирск, ул. Грибоедова, 2Б</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon_conection">
                                        <div class="vk">
                                            <p><a href="https://vk.com/hichist"><img  class="vk-icon" src="../../static/home_page/img/icon_slade/vk.png" width="30px" height="30px" border-radius="50"></a></p>
                                        </div>
                                        <div class="whatsapp">
                                            <p><a href=" https://api.whatsapp.com/send?phone=79137378283"><img  class="whatsapp-icon" src="../../static/home_page/img/icon_slade/whatsapp.png" width="30px" height="30px" border-radius="50"></a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="button_menu">
                                        <button class="button" type="button"  id="button_menu_order">Оформить заявку</button>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <div class="button_menu">
                            <button class="button" type="button"  id="button_menu_order-2">Оформить заявку</button>
                        </div>
                    </div>
                </div>
            </header>
        </div>
	</div>
	
	<div class="slide_pesonal_information">
		<div class="information_personal">
			<div class="name_class_privacy">
				<div class="name_text_privacy">Политика конфиденциальности</div>
			</div>
			<p>Настоящий документ «Политика конфиденциальности» (далее по тексту «Политика») представляет собой правила использования Индивидуальным Предпринимателем Русаковым Алексеем Александровичем ОГРНИП 310 774 634 701 321 (далее — Компания) персональной информации Пользователя, которую Компания и/или его аффилированные лица могут получить о Пользователе во время использования им сайта https://www.pro-carpet.ru (далее — Сайт) и в ходе исполнения Компанией любых соглашений и договоров с Пользователем. Согласие Пользователя с Политикой, выраженное им в рамках отношений с одним из перечисленных лиц, распространяется на все остальные перечисленные лица. Использование Сайта означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации. В случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта.</p>
			<h1>1. Общие положения</h1>
			<p>1.1. Настоящая Политика составлена в соответствии с Федеральным законом «О персональных данных» № 152-ФЗ от 27 июля 2006 г., а также иными нормативно-правовыми актами Российской Федерации в области защиты и обработки персональных данных и действует в отношении всех персональных данных, которые Компания может получить от Пользователя.</p>
			<p>1.2. К настоящей Политике, включая толкование ее положений и порядок принятия, исполнения, изменения и прекращения, подлежит применение законодательства Российской Федерации.</p>
			<h1>2. Персональная информация Пользователей, которую обрабатывает Компания</h1>
			<p>2.1. Под персональной информацией в настоящей Политике понимается:</p>
			<div class="space_text">2.1.1. Информация, предоставляемая Пользователем самостоятельно в процессе использования Сайта, включая персональные данные Пользователя. Обязательная для предоставления Сайтом информация помечена специальным образом. Иная информация предоставляется Пользователем на его усмотрение;</div>
			<div class="space_text">2.1.2. Данные, которые передаются в автоматическом режиме в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к Сайту), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к Сайту, адреса запрашиваемых страниц и иная подобная информация;</div>
			<div class="space_text">2.1.3. Иная информация о Пользователе, обработка которой предусмотрена условиями использования Сайта.</div>
			<p>2.2. Настоящая Политика применима только к информации, обрабатываемой в ходе использования Сайта.</p>
			<h1>3. Цели обработки персональной информации Пользователей</h1>
			<p>3.1. Компания собирает и хранит только ту персональную информацию, которая необходима для предоставления сервисов или исполнения соглашений и договоров с Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.</p>
			<p>3.2. Персональную информацию Пользователя Компания обрабатывает в следующих целях:</p>
			<div class="space_text">3.2.1. Обработки входящих запросов физических лиц и корпоративных клиентов с целью консультирования по услугам и продуктам Компании;</div>
			<div class="space_text">3.2.2. Аналитики действий Пользователя на веб-сайте и функционирования Сайта;</div>
			<div class="space_text">3.2.3. Улучшения качества работы Компании, удобства использования Сайта для Пользователя, разработки новых услуг и продуктов.</div>
			<h1>4. Условия обработки персональной информации Пользователей и её передачи третьим лицам</h1>
			<p>4.1. В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц.
			</p>
			<p>4.2. Компания вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:
			</p>
			<div class="space_text">4.2.1. Пользователь выразил согласие на такие действия;</div>
			<div class="space_text" >4.2.2. Передача необходима для исполнения обязательств Компании перед Пользователем;</div>
			<div class="space_text">4.2.3. Передача необходима для функционирования и работоспособности самого Сайта;</div>
			<div class="space_text">4.2.4. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;</div>
			<div class="space_text">4.2.5. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;</div>
			<div class="space_text">4.2.6. В результате обработки персональной информации Пользователя путем ее обезличивания получены обезличенные статистические данные, которые передаются третьему лицу для проведения исследований, выполнения работ или оказания услуг по поручению Компании.</div>
			<h1>5. Изменение и удаление персональной информации. Обязательное хранение данных</h1>
			<p>5.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, обратившись к Компании по контактам, указанным в разделе п. 9 настоящей Политики.
			</p>
			<p>5.2. Права, предусмотренные п. 5.1. настоящей Политики могут быть ограничены в соответствии с требованиями законодательства.
			</p>
			<h1>6. Обработка персональной информации при помощи файлов Cookie и счетчиков</h1>
			<p>6.1. Файлы cookie, передаваемые оборудованию Пользователя и оборудованием Пользователя Компании, могут использоваться Компанией для предоставления Пользователю персонализированных сервисов, в статистических и исследовательских целях, а также для улучшения Сайта.
			</p>
			<p>6.2. Пользователь осознает, что оборудование и программное обеспечение, используемые им для посещения сайтов в сети интернет могут обладать функцией запрещения операций с файлами cookie (для любых сайтов или для определенных сайтов), а также удаления ранее полученных файлов cookie.
			</p>
			<p>6.3. Счетчики, размещенные на Сайте, могут использоваться для анализа файлов cookie Пользователя, для сбора и обработки статистической информации об использовании Сайта, а также для обеспечения работоспособности Сайта в целом или их отдельных функций в частности. Технические параметры работы счетчиков могут изменяться без предварительного уведомления Пользователя.
			</p>
			<h1>7. Защита персональной информации Пользователя</h1>
			<p>7.1. Компания предпринимает необходимые и достаточные организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
			</p>
			<h1>8. Изменение Политики конфиденциальности</h1>
			<p>8.1. Компания имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. Действующая редакция постоянно доступна на странице по адресу https://www.pro-carpet.ru/politika-konfidencialnosti.
			</p>
			<h1>9. Контакты и вопросы по персональным данным</h1>
			<p>9.1. Все предложения, вопросы, запросы и иные обращения по поводу настоящей Политики и использования своих персональных данных Пользователь вправе направлять Компании:
			</p>
			<div class="space_text">9.1.1. по адресу электронной почты info@pro-carpet.ru с темой письма «Персональные данные».</div>


		</div>
	</div>
	<div class="modal_window" id="window">
		<div class="modal_box">
			<button class="modal_box_close" id="close">
				<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
					<path d="M 25 2 C 12.309534 2 2 12.309534 2 25 C 2 37.690466 12.309534 48 25 48 C 37.690466 48 48 37.690466 48 25 C 48 12.309534 37.690466 2 25 2 z M 25 4 C 36.609534 4 46 13.390466 46 25 C 46 36.609534 36.609534 46 25 46 C 13.390466 46 4 36.609534 4 25 C 4 13.390466 13.390466 4 25 4 z M 32.990234 15.986328 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.990234 15.986328 z"/>
				</svg>
			</button>
			<h2>Химчист</h2>
			<p>Оставьте ваш номер телефона и мы перезвоним вам для уточнения деталей заказа и расчета его стоимости!</p>
			<div class="input_name_phome">
				<form action="" class="form" id="form_name_phone">
					<div class="input-box">
						<input class="input" type="text" placeholder="Ваше имя" id="username_modal">
					</div>
					<div class="input-box">
						<input class="input" type="tel" id="phone_modal" name="phone">   
					</div>
					<p class="info_calculator">Для того чтобы узнать примерную стоимость заказа, можете воспользоваться нашим <button onclick="scrollToDivThree()"><span class="colortext">калькулятором</span></button></p>
					<button type="submit" class="button_modal" id="button_modal-1">Отправить</button>
				</form>
			</div>
			<div class="person_dan">
				<p>Нажимая на кнопку «Отправить», я даю согласие на обработку моих персональных данных.</p>
			</div>
		</div>
	</div>
	<div class="text_reklama">
		<p class="text">Made on <a href="https://t.me/ugarinko">@ugarinko</a></p>
	</div>
	<script src="https://unpkg.com/imask"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="../../static/home_page/js/menu.js"></script>
    <script src="../../static/home_page/js/slide_scroll.js"></script>
    <script src="../../static/home_page/js/menu_button.js"></script>
    <script defer src="../../static/home_page/js/error_input.js"></script>
    <script src="../../static/home_page/js/number_maska.js"></script>
    <script src="../../static/home_page/js/modal_window_open.js"></script>
</body>
</html>
