{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_4.css' %}">
    <title>Slider Four</title>
</head>
<body>
    <div class="slide_four" id="slide_four">
        <div class="name_class">
            <p class="name_text">МЫ ЗНАЕМ, КАК ЭФФЕКТИВНО СТИРАТЬ КОВРЫ</p>
        </div>
        <div class="line">
            <span></span>
        </div>
        <div class="four">
            <div class="image">
                <div class="img" id="img_one"></div>
            </div>
            <div class="four_text" >
                <div class="title_four">Осмотр ковра и подбор чистящих средств</div>
                <div class="text_four">Прежде всего, ковер, доставленный в цех, осматривается технологом. На этом этапе определяется состав изделия, специалист определяет его состояние, присваивает определенную степень загрязнения. В соответствии с этими данными технолог подбирает набор чистящих средств, необходимых для стирки покрытия.</div>
            </div>
        </div>
        <div class="four">
            <div class="image">
                <div class="img" id="img_two"></div>
            </div>
            <div class="four_text" >
                <div class="title_four" >Первичная чистка от сухого мусора</div>
                <div class="text_four" >Ковер размещается на платформе вакуумно-вибрационной машины. Во время ее работы из покрытия убирается до нескольких килограммов сухого мусора — пыли, песка, шерсти и прочего не растворяемого в воде мелкого сора.</div>
            </div>
        </div>
        <div class="four"> 
            <div class="image">
                <div class="img" id="img_three"></div>
            </div>
            <div class="four_text" >
                <div class="title_four" >Локальное выведение загрязнений</div>
                <div class="text_four" >При наличии видимых пятен поверхность ковра локально обрабатывается специальными пятновыводителями и реагентами. Обработка производится вручную точечно, только в загрязненных местах.</div>
            </div>
        </div>
        <div class="four"> 
            <div class="image">
                <div class="img" id="img_four"></div>
            </div>
            <div class="four_text">
                <div class="title_four" style=>Мойка ковра в спецмашине</div>
                    <div class="text_four" style=>Ключевой этап — непосредственно стирка ковра. Покрытие укладывается на платформу ковромоечной машины, через форсунки подаются вода и чистящее средство, ковер замачивается в моющем растворе. Мощные ролики продвигают изделие по платформе, тем временем как мягкие щетки механически очищают ковер по всей плоскости. По мере движения ковер промывается чистой водой и слегка выжимается под нажимом специальных валов.</div>
            </div>
        </div>
        <div class="four"> 
            <div class="image">
                <div class="img" id="img_five"></div>
            </div>
            <div class="four_text" >
                <div class="title_four" >Сушка коврового покрытия</div>
                <div class="text_four" >Сушка — неотъемлемая часть полноценной профессиональной мойки изделия. Это один из основных этапов! Сначала после глубокого замачивания и промывки покрытие отправляется в центрифугу для отжима, где из изделия убирается лишняя вода. После — ковер досыхает в специализированной сушильной камере при температуре, определенной технологом для конкретного изделия в соответствии с его составом.</div>
            </div>
        </div>
        <div class="four"> 
            <div class="image">
                <div class="img" id="img_six"></div>
            </div>
            <div class="four_text" >
                <div class="title_four" >Финишная обработка</div>
                <div class="text_four" >Финальный этап — расчесывание ворса в специальной машине. Она поднимает примятый в процессе мойки ворс и автоматически скручивает ковер в рулон. После чего он упаковывается и отправляется к своему владельцу. По желанию заказчика на данном этапе, ковер может быть обработан влагоотталкивающей пропиткой, антисептиком, антимолью или озонирован для избавления от запахов.</div>
            </div>
        </div>
        <div class="space"></div>
    </div>
</body>
</html>