{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_2.css' %}">
    <title>Slider Two</title>
</head>
<body>
    <div class="slide_two">
        <div class="name_class">
            <p class="name_text">СТИРКА КОВРОВ</p>
            <p class="jobs_prime">Преимущества компании "Химчист"</p>
        </div>
        <div class="line">
            <span></span>
        </div>
        <div class="prime_in_company" >
            <div class="icons">
                <div class="table" id="1_table">
                    <div class="row">
                        <div class="icon_cell">
                            <div class="icon">
                                <img src="{% static 'home_page/img/icon_slide2/ruka.png' %}" alt="Руки">
                            </div>
                        </div>
                        <div class="title_cell">
                            <p class="title">Гарантия качества</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="triangle_cell">
                            <div class="triangle"></div>
                        </div>
                        <div class="text_cell">
                            <p class="item_desc">Мы добросовестно относимся к своей работе и уверены в качестве</p>
                        </div>
                    </div>
                </div>
                <div class="table" id="2_table">
                    <div class="row">
                        <div class="icon_cell">
                            <div class="icon">
                                <img src="{% static 'home_page/img/icon_slide2/people.png' %}" alt="Человек">
                            </div>
                        </div>
                        <div class="title_cell">
                            <p class="title">Сотрудники</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="triangle_cell">
                            <div class="triangle"></div>
                        </div>
                        <div class="text_cell">
                            <p class="item_desc">Специалисты обладают высоким уровнем квалификации и опытом работы.</p>
                        </div>
                    </div>
                </div>
                <div class="table" id="3_table">
                    <div class="row">
                        <div class="icon_cell">
                            <div class="icon">
                                <img src="{% static 'home_page/img/icon_slide2/car.png' %}" alt="Машина">
                            </div>
                        </div>
                        <div class="title_cell">
                            <p class="title">Вывоз и доставка</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="triangle_cell">
                            <div class="triangle"></div>
                        </div>
                        <div class="text_cell" >
                            <div class="item_desc">
                                <p>Собираем, снимаем, упаковываем, выносим ковры и доставляем уже готовую работу</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table" id="4_table">
                    <div class="row">
                        <div class="icon_cell">
                            <div class="icon">
                                <img src="{% static 'home_page/img/icon_slide2/clever.png' %}" alt="Листик">
                            </div>
                        </div>
                        <div class="title_cell">
                            <p class="title">Экологичные средства</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="triangle_cell">
                            <div class="triangle" id="triangle"></div>
                        </div>
                        <div class="text_cell">
                            <p class="item_desc">Только экологичные, безопасные и гипоаллергенные моющие средства</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="prime_in_company590">
            <div class="in_company">
                <div class="msg-position">
                    <div class="msg-container">
                        <div id="slider_class_590" class="slider_class_590">
                            <div class="msg-column">
                                <div class="img_h1">
                                    <div class="icon">
                                        <img src="{% static 'home_page/img/icon_slide2/ruka.png' %}" alt="Руки">
                                    </div>
                                    <h1>Гарантия качества</h1>
                                </div>
                                <p class="item_desc">Мы добросовестно относимся к своей работе и уверены в качестве</p>
                            </div>
                            <div class="msg-column">
                                <div class="img_h1">
                                    <div class="icon">
                                        <img src="{% static 'home_page/img/icon_slide2/people.png' %}" alt="Человек">
                                    </div>
                                    <h1>Сотрудники</h1>
                                </div>
                                <p>Специалисты обладают высоким уровнем квалификации и опытом работы.</p>
                            </div>
                            <div class="msg-column">
                                <div class="img_h1">
                                    <div class="icon">
                                        <img src="{% static 'home_page/img/icon_slide2/car.png' %}" alt="Машина">
                                    </div>
                                    <h1>Вывоз и доставка</h1>
                                </div>
                                <p>Собираем, снимаем, упаковываем, выносим ковры и доставляем уже готовую работу</p>
                            </div>
                            <div class="msg-column">
                                <div class="img_h1">
                                    <div class="icon">
                                        <img src="{% static 'home_page/img/icon_slide2/clever.png' %}" alt="Листик">
                                    </div>
                                    <h1>Экологичные средства</h1>
                                </div>
                                <p>Только экологичные, безопасные и гипоаллергенные моющие средства</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="controller_position">
                    <div class="controller">
                        <div class="line1" id="line1_id"></div>
                        <div class="line2" id="line2_id"></div>
                        <div class="line3" id="line3_id"></div>
                        <div class="line4" id="line4_id"></div>
                        <div class="space_active" id="active_id"></div>
                        <script src="../../static/home_page/js/controls_slide_two.js"></script>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
    </div>
</body>
</html>