{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_3.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slider/slider.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slider/slider2.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/css/slider/slider3.css' %}">
    <title>Slider three</title>
</head>
<body>
    <div class="slide_three">
        <div class="name_class">
            <p class="name_text">НАШИ ВОЗМОЖНОСТИ</p>
        </div>
        <div class="line">
            <span></span>
        </div>
        <div class="main_class_slider">
            <div class="slider_scroll">
                <div class="slider_one">
                    <div class="all" id="switch_controls_1">
                        <input checked type="radio" name="respond" id="desktop">
                        <article id="slider">
                                <input checked type="radio" name="slider" id="switch1">
                                <input type="radio" name="slider" id="switch2">
                                <div id="slides">
                                    <div id="overflow">
                                        <div class="image">
                                            <article><img class="img" id="all_one" src="{% static 'home_page/img/carpet/1-b.jpg' %}"></article>
                                            <article><img class="img" id="all_two" src="{% static 'home_page/img/carpet/1-a.jpg' %}"></article>
                                        </div>
                                    </div>
                                </div>
                                <div id="active">
                                    <label for="switch1"></label>
                                    <label for="switch2"></label>
                                </div>
                        </article>
                    </div>
                </div>
                <div class="slider_two">
                    <div class="all2" id="2">
                        <input checked type="radio" name="respond" id="desktop2">
                            <article id="slider2">
                                    <input checked type="radio" name="slider2" id="switch3">
                                    <input type="radio" name="slider2" id="switch4">
                                <div id="slides2">
                                    <div id="overflow2">
                                        <div class="image">
                                            <article><img class="img" src="{% static 'home_page/img/carpet/2-b.jpg' %}"></article>
                                            <article><img class="img" src="{% static 'home_page/img/carpet/2-a.jpg' %}"></article>
                                        </div>
                                    </div>
                                </div>
                                <div id="active2">
                                    <label for="switch3"></label>
                                    <label for="switch4"></label>
                                </div>
                            </article>
                    </div>
                </div>
                <div class="slider_three">
                    <div class="all3" id="3">
                        <input checked type="radio" name="respond" id="desktop3">
                            <article id="slider3">
                                    <input checked type="radio" name="slider3" id="switch5">
                                    <input type="radio" name="slider3" id="switch6">
                                <div id="slides3">
                                    <div id="overflow3">
                                        <div class="image">
                                            <article><img class="img" src="{% static 'home_page/img/carpet/3-b.jpg' %}"></article>
                                            <article><img class="img" src="{% static 'home_page/img/carpet/3-a.jpg' %}"></article>
                                        </div>
                                    </div>
                                </div>
                                <div id="active3">
                                    <label for="switch5"></label>
                                    <label for="switch6"></label>
                                </div>
                            </article>
                    </div>
                </div>
                <div class="space"></div> 
            </div>
        </div>
    </div>
</body>
</html>