{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_6.css' %}">
    <title>Slider Six</title>
</head>
<body>
    <div class="slide_six" id="slide_six">
        <div class="price_carpet">
            <div class="name_class">
                <p class="name_text">СТОИМОСТЬ УСЛУГ</p>
            </div>
            <div class="line">
                <span></span>
            </div>
            <div class="price_carpet_slide">
                <div class="slide_price">
                    <div class="price_photo">
                        <div class="img" id="img_price_one"></div>
                    </div>
                    <div class="slide_text">
                        <div class="summ_price">
                            <p class="summ">250</p>
                            <p class="text_summ">руб/м<sup>2</sup></p>
                        </div>
                        <div class="text_price">
                            <p class="text">Синтетика</p>
                        </div>
                        <div class="info">
                            <p class="text_info">Синтетические ковры, обладают высокой прочностью и удобны в уходе.</p>
                        </div>
                    </div>
                </div>
                <div class="slide_price">
                    <div class="price_photo">
                        <div class="img" id="img_price_two"></div>
                    </div>
                    <div class="slide_text">
                        <div class="summ_price">
                            <p class="summ">300</p>
                            <p class="text_summ">руб/м<sup>2</sup></p>
                        </div>
                        <div class="text_price">
                            <p class="text">Шелк</p>
                        </div>
                        <div class="info">
                            <p class="text_info">Шелковые ковры, впечатляют своим роскошным блеском и насыщенными оттенками.</p>
                        </div>
                    </div>
                </div>
                <div class="slide_price">
                    <div class="price_photo">
                        <div class="img" id="img_price_three"></div>
                    </div>
                    <div class="slide_text">
                        <div class="summ_price">
                            <p class="summ">250</p>
                            <p class="text_summ">руб/м<sup>2</sup></p>
                        </div>
                        <div class="text_price">
                            <p class="text">Шерсть</p>
                        </div>
                        <div class="info">
                            <p class="text_info">Шерстяные ковры, нежные на ощупь и создают уютную атмосферу в помещении.</p>
                        </div>
                    </div>
                </div>
                <div class="slide_price">
                    <div class="price_photo">
                        <div class="img" id="img_price_four"></div>
                    </div>
                    <div class="slide_text">
                        <div class="summ_price">
                            <p class="summ">300</p>
                            <p class="text_summ">руб/м<sup>2</sup></p>
                        </div>
                        <div class="text_price">
                            <p class="text">Вискоза</p>
                        </div>
                        <div class="info">
                            <p class="text_info">Вискозные ковры, имеют блестящую поверхность и элегантный вид интерьеру.</p>
                        </div>
                    </div>
                </div>
                <div class="slide_price">
                    <div class="price_photo">
                        <div class="img" id="img_price_five"></div>
                    </div>
                    <div class="slide_text">
                        <div class="summ_price">
                            <p class="summ">280</p>
                            <p class="text_summ">руб/м<sup>2</sup></p>
                        </div>
                        <div class="text_price">
                            <p class="text">Шегги</p>
                        </div>
                        <div class="info">
                            <p class="text_info">Шегги, обеспечивают уникальный комфорт и придают интерьеру особую уютность.</p>
                        </div>
                    </div>
                </div>
                <div class="slide_price">
                    <div class="price_photo">
                        <div class="img" id="img_price_six"></div>
                    </div>
                    <div class="slide_text">
                        <div class="summ_price">
                            <p class="summ" style="margin-top: 10px;">+50%</p>
                            <p class="text_summ"></p>
                        </div>
                        <div class="text_price">
                            <p class="text">Прочие услуги</p>
                        </div>
                        <div class="info">
                            <p class="text_info">Стирка ковров после пожара или если имеются биологические загрязнения.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
    </div>
</body>
</html>