{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home_page/css/slide_7.css' %}">
    <title>Slider Seven</title>
</head>
<body>
    <div class="slide_seven">
        <div class="name_class">
            <p class="name_text">ОТВЕЧАЕМ НА ВОПРОСЫ</p>
        </div>
        <div class="line">
            <span></span>
        </div>
        <div class="space"></div>
        <div class="faq">
            <div class="faq-item">
                <input class="faq-input" type="checkbox" id="faq_1">
                <label class="faq-title" for="faq_1">Как часто следует стирать ковры?</label>
                <div class="faq-text">
                    <p class="text">Обычно рекомендуется стирать ковры раз в год или по мере необходимости. Если ковры подвергаются интенсивному использованию или на них часто попадают пятна, то чистку можно проводить чаще.</p>
                </div>
            </div>
            <div class="faq-item">
                <input class="faq-input" type="checkbox" id="faq_2">
                <label class="faq-title" for="faq_2">Постирать на фабрике можно любой ковер?</label>
                <div class="faq-text">
                    <p class="text">Мы принимаем в работу любые ковры, но стираем только те, которым не противопоказано обильное смачивание. Это синтетические, полусинтетические и фабричные шерстяные ковры. Ковровые изделия, требующие деликатного ухода (шелковые, вискозные, хлопчатобумажные, ручной работы, ветхие), а также покрытия на клееной основе не подлежат стирке и чистятся сухим способом с применением органических растворителей. Какая именно технология подойдет вашему ковру, определит технолог после его приемки и осмотра</p>
                </div>
            </div>
            <div class="faq-item">
                <input class="faq-input" type="checkbox" id="faq_3">
                <label class="faq-title" for="faq_3">Когда я узнаю точную стоимость стирки моего ковра?</label>
                <div class="faq-text">
                    <p class="text">Точная стоимость определяется технологом при приемке и осмотре изделия. Наш менеджер свяжется с вами, чтобы озвучить итоговую сумму заказа и согласовать его выполнение. Обратите внимание: сотрудник транспортной службы, забирая ковер, никакой информации о ценах не предоставляет!</p>
                </div>
            </div>
            <div class="faq-item">
                <input class="faq-input" type="checkbox" id="faq_4">
                <label class="faq-title" for="faq_4">Мне нужно как-то подготовить ковёр?</label>
                <div class="faq-text">
                    <p class="text">Да, к моменту приезда нашего сотрудника ковер необходимо свернуть в рулон (закреплять скотчем или чем-то другим необязательно) и поставить или положить недалеко от входной двери. Если ковёр необходимо вытащить из-под мебели, снять со стены, то об этом необходимо предупредить заранее. Данная услуга платная.</p>
                </div>
            </div>
            <div class="faq-item">
                <input class="faq-input" type="checkbox" id="faq_5">
                <label class="faq-title" for="faq_5">Каким образом происходит оплата услуги?</label>
                <div class="faq-text">
                    <p class="text">Оплата услуги производится при получении готового изделия курьеру.</p>
                </div>
            </div>
            <div class="faq-item">
                <input class="faq-input" type="checkbox" id="faq_6">
                <label class="faq-title" for="faq_6">Что если меня не устроит качество стирки?</label>
                <div class="faq-text">
                    <p class="text">Мы всегда прикладываем максимум усилий, чтобы каждый наш заказчик остался доволен. Если Вы обнаружите недостатки в работе, то необходимо сообщить об этом администратору в течении 2 рабочих дней и мы постараемся устранить их, если это возможно.</p>
                </div>
            </div>
            <div class="faq-item">
                <input class="faq-input" type="checkbox" id="faq_7">
                <label class="faq-title" for="faq_7">Вы выезжаете в районы?</label>
                <div class="faq-text">
                    <p class="text">Основной город в котором мы работаем - Новосибирск. Мы так же осуществляем выезд в близлежащие районы. Стоимость выезда в ваш район и график необходимо уточнить у администратора.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>